# server
flask
gunicorn


#data
pandas
numpy

#database
pymongo
qdrant_client 
redis
celery
sqlalchemy
psycopg2-binary
pgvector

#frameworks
langchain
langgraph

#embeddings
sentence-transformers

#ml
torch
torch_geometric

pytest
python_dotenv
